
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ececec;
    border-radius: 8px;
}

.container h1 {
    font-size: 24px;
    color: #333;
    padding: 20px;
    align-items: center;}

.container h2 {
    font-size: 24px;
    color: #333;
    padding: 20px;
    align-items: center;
}

 .container img {
    display: flex;
    width: 200px;
    margin-right: 10px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}


.investigador-input {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.investigador-input input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #ededed;
    border: 1px solid #cdd3d9;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #c8f7d2;
}
