
header {
    background: #0d3865;
    background: linear-gradient(to bottom right, #003a12, #8BC34A);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

header>h1{
    /* font-size: clamp(25px, 3vw, 2.5rem); */
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

header>h2{
    /* font-size: clamp(16px, 2.5vw, 1.8rem); */
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.72rem + 0.9000000000000001vw, 1.8rem);
}

h1, h2 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    margin: 5px 0;
}

.info {
    padding: 15px;
    background: #eaeaea;
    border-radius: 0 0 8px 8px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
} */

input[type="number"] {
    /* width: max-content; */
    text-align: center;
}

.id {
    margin-left: 15px;
    color: white;
    background: #009900;
    padding: 5px;
    border-radius: 5px;
}

.codigo {
    background: #6ec262;
    color: white;
    font-weight: bold;
}

.table-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #d4edda;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background: #5c9155;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

td input {
    width: 100%;
    text-align: center;
    border: none;
    padding: 5px;
}

.total td input {
    background: #eee;
    font-weight: bold;
}
