body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(87, 85, 85);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ccc;
}

.container h1 {
    font-size: 24px;
    color: #333;
    padding: 20px;
    align-items: center;}

.container h2 {
    font-size: 24px;
    color: #333;
    padding: 20px;
    align-items: center;
}

 .container img {
    display: flex;
    width: 200px;
    margin-right: 10px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.group-form {
    padding: 10px 50px;
    font-weight: 600;
}

.group-form label {
    background-color: green;
    color: white;
    padding: 5px;
    font-weight: bold;
    text-align: right;
    border-radius: 5px 0 0 5px;
}


.investigador-input {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.investigador-input input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
