.table thead th {
    border-width: 1px;
}
.table td,
.table th {
    border-top: none;
    vertical-align: middle;
}
.container-semaforo{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.semaforo{
    width: 63px;
    height: 146px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
    padding: 10px;
}
.luces-circulo{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(0, 0,0,0.3);
    position: relative;
}
.luces-circulo::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-right: 4px solid rgb(255, 255,255,0.6);
    top: 5%;
}
.stick{
    width: 8px;
    flex-grow: 1;
    min-height: 90px;
    background-color: rgb(44 62 80);
}
.floor{
    width: calc(100% + 16px);
    height: 2px;
    background-color: #408c50;
    margin-right: -8px;
    margin-left: -8px;
    /* box-shadow: 0 0 10px 1px #a5682a; */
}
.background-floor{
    /* background: linear-gradient(180deg, #4caf5085 0%, #8bc34a7a 25%, #cddc3980 50%, #ffffff87 75%, rgb(255 255 255 / 45%) 100%); */
    padding: 0.25rem 1.25rem;
    margin: 0 -1.25rem;
    border: solid #408c50;
    border-width: 2px 0;
    background-color: #8bc34a;
}
.red{
    background-color: #c0392b;
    box-shadow: 0 0 10px 1px #c0392b;
}
.yellow{
    background-color: #f1c40f;
    box-shadow: 0 0 10px 1px #f1c40f;
}
.green{
    background-color: #2ecc71;
    box-shadow: 0 0 10px 1px #2ecc71;
}
